@media (min-width: 320px) {
  :root {
    font-size: calc(1rem + ((1vw - 3.2px) * 0.8333));
/* Where: * 0.8333 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
@media (min-width: 1280px) {
  :root {
    font-size: 24px;
  }
}
@font-face {
  font-family: pt-sans-regular;
  src: url("../fonts/PT_Sans-Web-Regular.ttf");
  font-weight: 600;
}
@font-face {
  font-family: pt-sans-bold;
  src: url("../fonts/PT_Sans-Web-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: pt-sans-boldItalic;
  src: url("../fonts/PT_Sans-Web-BoldItalic.ttf");
  font-weight: 700;
}
@font-face {
  font-family: pt-sans-italic;
  src: url("../fonts/PT_Sans-Web-Italic.ttf");
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: pt-sans-regular;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #fff;
  color: bodyfont;
  border-top: 10px solid #666;
}
header {
  background: #eee;
}
h1 {
  margin: 0;
}
a {
  color: #303030;
}
body {
  font-smooth: antialiased;
  font-family: pt-sans-regular;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
}
.skip {
  border: none;
  display: block;
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}
.footer {
  text-align: center;
  padding: calc(1em + 2vh) calc(1rem + 2vw);
}
.footer__icon {
  text-decoration: none;
  color: #000;
  background-color: #2e4272;
  width: 3rem;
  height: 3rem;
  text-indent: -200rem;
  display: inline-flex;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}
.footer__icon:hover {
  background-color: #4f628e;
}
.footer__icon--github {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12.45 27.57c.65.1.9-.3.9-.66l-.03-2.43c-3.72.8-4.52-1.58-4.52-1.58-.6-1.55-1.48-1.96-1.48-1.96-1.2-.84.1-.82.1-.82 1.34.1 2.05 1.4 2.05 1.4 1.2 2.05 3.13 1.47 3.9 1.13.1-.9.46-1.5.83-1.8-2.96-.36-6.08-1.5-6.08-6.64 0-1.46.52-2.66 1.38-3.6-.14-.33-.6-1.7.12-3.54 0 0 1.13-.36 3.68 1.37 1.1-.3 2.2-.45 3.36-.45 1.14 0 2.28.15 3.34.44C22.57 6.65 23.68 7 23.68 7c.74 1.84.28 3.2.13 3.55.9.93 1.4 2.13 1.4 3.6 0 5.13-3.1 6.26-6.1 6.6.5.4.9 1.22.9 2.47v3.68c0 .3.2.67.7.67-1.26.4-2.63.62-4.05.62-1.43 0-2.83-.27-4.13-.7z'/%3E%3C/svg%3E");
}
.footer__icon--linkedin {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M18.37 19.97V36h-5V19.96h5zm7.96 2.2c.66-1.27 2.3-2.6 4.7-2.6 5.05 0 5.98 3.32 5.98 7.64V36h-4.96v-7.8c0-1.86-.03-4.25-2.58-4.25-2.6 0-3 2.03-3 4.12V36H21.5V19.96h4.76v2.2h.07zM15.88 12c1.6 0 2.88 1.3 2.88 2.9 0 1.6-1.3 2.88-2.88 2.88-1.6 0-2.9-1.3-2.9-2.88 0-1.6 1.3-2.9 2.9-2.9z'/%3E%3C/svg%3E");
}
.footer__icon--codepen {
  background-image: url("data:image/svg+xml;charset=utf-5,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M24.6 8.5c-.3-.4-.8-.5-1.6 0L8.7 18c-.4 0-.7.4-.7 1.2v9.5c0 .7.3 1 .7 1.3L23 39.6c.7.3 1.3.3 1.6 0L39.3 30c.5-.3.7-.8.7-1.3v-9.5c0-1-.7-1.2-.7-1.2L24.6 8.5zm-2 27.6L12 29l4.7-3.2 6 4.2v6zm2.7 0v-6l6-4 4.7 3-10.5 7zM24 27l-4.8-3 4.8-3.2 4.8 3.2-4.8 3zm-13.3-5.3l3.7 2.3-3.7 2.2v-4.5zm26.6 4.5L33.6 24l3.7-2.3v4.5zm-12-14.4L36 19.2l-4.7 3.2-6-4v-6.6zm-2.6 0v6.4l-6 4.2-4.8-3.2L22.2 12v-.2z'/%3E%3C/svg%3E");
}
.footer__icon--twitter {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M15.2 31.44c2.4 0 4.47-.74 6.1-2.08-2.22 0-4-1.5-4.6-3.43.3.15.6.15.9.15.44 0 .88 0 1.33-.15-2.23-.44-3.87-2.38-3.87-4.76.75.3 1.5.6 2.23.6-1.36-.9-2.25-2.38-2.25-4.02 0-.9.15-1.8.6-2.53 2.38 2.98 6.1 4.9 10.12 5.06-.15-.3-.15-.6-.15-1.04 0-2.68 2.23-4.9 4.9-4.9 1.35 0 2.7.58 3.58 1.47 1.2-.27 2.24-.57 3.14-1.17-.3 1.05-1.05 2.1-2.1 2.68 1.05-.14 1.95-.3 2.84-.73-.6 1.04-1.5 1.78-2.53 2.53v.58c0 6.55-4.9 14-14 14-2.67 0-5.2-.9-7.43-2.24h1.2z'/%3E%3C/svg%3E");
}
.footer__icon--email {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' stroke-miterlimit='1.41'%3E%3Cpath fill='none' stroke-width='1.7' stroke='%23fff' d='M6.82 9.28h18.36v13.44H6.82V9.28zm0 0l8.28 8.3c.6.44 1.2.44 1.8 0l8.28-8.3M6.82 22.72L13.54 16m4.92 0l6.72 6.72'/%3E%3C/svg%3E");
}
header {
  padding: calc(0.5rem + 1vh) calc(0.25em + 5vw);
}
.head__wrap {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.head__title {
  font-family: pt-sans-bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1em;
  padding-top: calc(0.1rem + 1vh);
}
.head__img {
  width: 1.5em;
  margin-right: 0.5em;
  transition: 0.5s;
}
.head__img:hover {
  fill: #7887ab;
}
.nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0.5em 0 0;
}
.nav__item {
  list-style-type: none;
  margin: 0 0.7em;
}
.nav__item:first-child {
  margin-left: 0;
}
.nav__link {
  color: #000;
  text-decoration: none;
  padding-bottom: 0.2em;
  position: relative;
}
.nav__link:hover {
  color: #000;
}
.nav__link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav__link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  padding: calc(1em + 2vh) calc(1rem + 2vw);
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}
.intro__heading {
  margin: 0.5em 0;
  text-align: center;
  font-family: pt-sans-bold;
}
.intro__desc__tagline {
  font-family: pt-sans-bold;
  margin-top: 0;
}
@media (min-width: 21em) {
  .intro__tagline {
    font-size: 1.2rem;
  }
}
@media (min-width: 39em) and (max-width: 63em) {
  .intro__tagline {
    font-size: 1.4rem;
  }
  .intro__copy {
    font-size: 1.2rem;
  }
}
@media (min-width: 63em) {
  .intro {
    -ms-grid-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 0.1fr 2fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
  }
  .intro__heading {
    grid-column: 1/span 4;
  }
  .intro__img {
    grid-column: 1/span 2;
  }
  .intro__desc {
    grid-column: 3/span 2;
    padding: 0 calc(1rem + 1vw);
  }
  .intro__about {
    grid-column: 1/span 4;
  }
}
@media (min-width: 63em) {
  .intro__tagline {
    font-size: 1.2rem;
  }
}
@media (min-width: 78em) {
  .intro__tagline {
    font-size: 1.4rem;
  }
  .intro__copy {
    font-size: 1.2rem;
  }
}
.portfolio {
  border-bottom: 1px solid #eaeaea;
  padding: calc(1em + 2vh) calc(0.5rem + 2vw);
  text-align: center;
}
.portfolio__container {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}
.portfolio__item {
  background-color: rgba(79,98,142,0.9);
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  display: flex;
  height: calc(1em + 14vh);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.portfolio__item::before {
  background-color: rgba(79,98,142,0.9);
  transition: background-color ease-in 0.1s;
  position: absolute;
  border-radius: 3px;
  cursor: pointer;
  z-index: 300;
  display: block;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.portfolio__item:hover::before {
  background-color: rgba(120,135,171,0.8);
}
.portfolio__item:hover {
  border-color: rgba(120,135,171,0.8);
}
.portfolio__title {
  color: #fff;
  font-size: 1.2rem;
  font-family: pt-sans-bold;
  position: relative;
  margin: 0;
  z-index: 500;
}
.portfolio__role {
  display: none;
}
@media (min-width: 48em) {
  .portfolio__container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .portfolio__role {
    display: block;
  }
}
.project {
  padding: calc(0.5rem + 1vh) calc(0.25em + 5vw);
}
@media (min-width: 768px) {
  .project {
    display: flex;
  }
}
.skills {
  padding: calc(1em + 2vh) calc(1rem + 2vw);
  border-bottom: 1px solid #eaeaea;
}
.skills__list {
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  text-align: center;
}
.skills__item {
  list-style: none;
  padding-bottom: 0.5em;
}
@media (min-width: 600px) {
  .skills__list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .skills__list {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
