body 
    font-smooth: antialiased
    font-family: pt-sans-regular   
    -moz-font-smoothing: antialiased
    -o-font-smoothing: antialiased   
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale;
    background: white
    color: bodyfont;
    border-top: 10px solid moduleborder
.skip 
    border: none
    display: block
    height: 0
    overflow: hidden
    position: absolute
    width: 0
::-moz-selection
    background-color: $rgba-primary-2
    color: white
::selection 
    background-color: $rgba-primary-2
    color: white
h1 
    margin: 0
a 
    color: modulefont
img 
    max-width: 100%

h1, h2, h3, h4, h5, p, li 
    color: #4d4d4d

