html {
  font-size: 62.5%;
}
body {
    font-family: pt-sans-regular;      
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;3
}
img {
    max-width: 100%;
}
.skip {
    border: none;
    display: block;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
}