body 
    font-smooth: antialiased
    font-family: pt-sans-regular   
    -moz-font-smoothing: antialiased
    -o-font-smoothing: antialiased   
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale;

img 
    max-width: 100%

.skip 
    border: none
    display: block
    height: 0
    overflow: hidden
    position: absolute
    width: 0
