// Base Colors

white = #fff

// Prototyping palette
modulebg = #eee
moduleborder = #666
modulefont = #303030


$color-primary-0 = #2E4272	// Main Primary color */
$color-primary-1 = #7887AB
$color-primary-2 = #4F628E
$color-primary-3 = #162955
$color-primary-4 = #061539


// As RGBa codes */

$rgba-primary-0 = rgba( 46, 66,114,1)	// Main Primary color */ 
$rgba-primary-1 = rgba(120,135,171,1)
$rgba-primary-2 = rgba( 79, 98,142,1)
$rgba-primary-3 = rgba( 22, 41, 85,1)
$rgba-primary-4 = rgba(  6, 21, 57,1)

$rgba-hover-1 = rgba(120,135,171,0.8)
$rgba-hover-2 = rgba( 79, 98,142,0.9)


// Testing


    
