// Base Colors

white = #fff

// Prototyping palette
modulebg = #eee
moduleborder = #666
modulefont = #303030

// Colour Pallete 

// As hex codes */

color-primary-0 = #FFFBF6	// Main Primary color */
color-primary-1 = #FFE1C4
color-primary-2 = #FFECD9
color-primary-3 = #FFF6EC
color-primary-4 = #E9DED3

// As RGBa codes */

rgba-primary-0 = rgba(255,251,246,1)	// Main Primary color */
rgba-primary-1 = rgba(255,225,196,1)
rgba-primary-2 = rgba(255,236,217,1)
rgba-primary-3 = rgba(255,246,236,1)
rgba-primary-4 = rgba(233,222,211,1)


// Testing

body 
    background: white
    color: bodyfont;
    border-top: 10px solid moduleborder

header 
    background: modulebg

h1 
    margin: 0

a 
    color: modulefont

// ::selection 
    
