//Grid Mixins


// @mixin display-grid {
//     display: grid;
//     grid-template-rows: auto;
//     grid-gap: 1.5em;   
// }


// display-grid()
//     display: -ms-grid
//     display: grid 

// grid-template-columns(columns)
//     -ms-grid-columns: columns
//     grid-template-columns: columns

// grid-template-rows(rows)
//     -ms-grid-rows: rows
//     grid-template-rows: rows



// vendor(prop, args)
//   -webkit-{prop} args
//   -moz-{prop} args
//   -o-{prop} args
// {prop} args

// // vendor mixin
// @mixin vendor-prefix($name, $value) {
//   @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
//     #{$vendor}#{$name}: #{$value};
//   }
// }

// border-radius()
//   -webkit-border-radius: arguments
//   -moz-border-radius: arguments
//   border-radius: arguments

// // Usage - border-radius 1px 2px / 3px 4px

// @mixin keyframes($animation-name) {
//   @-webkit-keyframes #{$animation-name} {
//       @content;
//   }
//   @-moz-keyframes #{$animation-name} {
//       @content;
//   }  
//   @-ms-keyframes #{$animation-name} {
//       @content;
//   }
//   @-o-keyframes #{$animation-name} {
//       @content;
//   }  
//   @keyframes #{$animation-name} {
//       @content;
//     }
// }
// @mixin animation($str) {
//   -webkit-animation: #{$str};
//   -moz-animation: #{$str};
//   -ms-animation: #{$str};
//   -o-animation: #{$str};
//   animation: #{$str};      
// }
// // USAGE
// // @include keyframes(slide-down) {
// //   0% { opacity: 1; }
// //   90% { opacity: 0; }
// // }

// // USAGE
// // .element {
// //   width: 100px;
// //   height: 100px;
// //   background: black;
// //   @include animation('slide-down 5s 3');
// // }
// @mixin transition($args...) {
//   -webkit-transition: $args;
//   -moz-transition: $args;
//   -ms-transition: $args;
//   -o-transition: $args;
//   transition: $args;
// }
// // a {
// //   color: gray;
// //   @include transition(color .3s ease);
// //   &:hover {
// //     color: black;
// //   }
// // }


