/* 16px @ 320px increasing to 24px @ 1280px */
@media (min-width: 320px) 
  :root 
    font-size: calc(1rem + ((1vw - 3.2px) * 0.8333))
    /* Where: * 0.8333 = 100 * font_Size_Difference / viewport_Width_Difference */

/* Prevent font scaling beyond this breakpoint */
@media (min-width: 1280px) 
  :root 
    font-size: 24px

@font-face 
    font-family: $font-reg
    src: url(../fonts/PT_Sans-Web-Regular.ttf)
    font-weight:600

@font-face 
    font-family: $font-bold
    src: url(../fonts/PT_Sans-Web-Bold.ttf)
    font-weight:700

@font-face 
    font-family: $font-boldItalic
    src: url(../fonts/PT_Sans-Web-BoldItalic.ttf)
    font-weight:700

@font-face 
    font-family: $font-italic
    src: url(../fonts/PT_Sans-Web-Italic.ttf)
    font-weight:400

h1, h2, h3, h4, h5 
    font-family: $font-reg




