// Font Family - https://fonts.google.com/specimen/PT+Sans?selection.family=PT+Sans
$font-reg = pt-sans-regular
$font-bold = pt-sans-bold
$font-boldItalic = pt-sans-boldItalic
$font-italic = pt-sans-italic


// Major Breakpoints- http://bradfrost.com/blog/post/7-habits-of-highly-effective-media-queries/
$bp-small = 24em
$bp-med = 46.8em
$bp-large = 50em
$bp-xl = 73em