.footer {
    text-align: center;
    padding: calc(1em + 2vh) calc(1rem + 2vw);
    &__icon {
        text-decoration: none;
        // &--github {
        //     background-image: url(../images/Git.svg);
        // }
    }
}