
.head {
    padding: calc( 0.5rem + 1vh) calc( 0.25em + 5vw)
    &__wrap {
         display: flex;
         flex-direction: row;
    }
    &__title {
        font-weight: bold;
        text-transform: uppercase;
        display: block; 
    }
    &__img {
        width: 50px;
        margin-right: 1em;
    }
}