.portfolio   
    border-bottom: 1px solid #EAEAEA
    padding: calc(1em + 2vh) calc(0.5rem + 2vw)
    text-align: center
    &__container 
        display: -ms-grid
        display: grid
        grid-gap: 10px 15px    
    &__item 
        background-color: $rgba-primary-2
        background-size: cover;
        border: 1px solid rgba(0, 0, 0, 0.8)
        border-radius: 3px
        text-decoration: none
        padding: calc(1em + 2vh) calc(0.5rem + 2vw)
        position: relative
        height: 160px
        &::before 
            background-color: rgba(79, 98, 142,0.8)
            transition: background-color ease-in .1s
            position: absolute
            border-radius: 3px
            cursor: pointer
            height: 160px
            z-index: 300
            display: block
            content: ""
            bottom: 0
            right: 0
            left: 0
            top: 0
        &:hover::before 
            background-color: $rgba-primary-1
        &:hover 
            border-color: $rgba-primary-1
    &__title 
        color: white
        font-size: 1.2rem
        position: relative
        margin: 0   
        z-index: 500
    &__role 
        display: none


@media (min-width: 48em) 
    .portfolio 
        &__container 
            -ms-grid-columns: 1fr 1fr
            grid-template-columns: 1fr 1fr
        &__item 
        &__role 
            display: block;
        
