.portfolio   
    border-bottom: 1px solid #EAEAEA
    padding: calc(1em + 2vh) calc(0.5rem + 2vw)
    text-align: center
    &__container 
        display: -ms-grid
        display: grid
        grid-gap: 20px    
    &__item 
        background-color: $rgba-hover-2
        background-size: cover
        background-position: center
        border-radius: 3px
        display: flex
        height: 160px
        justify-content: center
        align-items: center
        text-decoration: none
        position: relative
        &::before 
            background-color: $rgba-hover-2
            transition: background-color ease-in .1s
            position: absolute
            border-radius: 3px
            cursor: pointer
            z-index: 300
            display: block
            content: ""
            bottom: 0
            right: 0
            left: 0
            top: 0
        &:hover::before 
            background-color: $rgba-hover-1
        &:hover 
            border-color: $rgba-hover-1
    &__title 
        color: white
        font-size: 1.2rem
        font-family: $font-bold
        position: relative
        margin: 0   
        z-index: 500
    &__role 
        display: none


@media (min-width: 48em) 
    .portfolio 
        &__container 
            -ms-grid-columns: 1fr 1fr
            grid-template-columns: 1fr 1fr
        &__item
            height: 300px
        &__role 
            display: block;
        
